/* header */
#header {
    padding-top: 37px;
    background-color: #ffffff;
    margin-top: 10px;
}

#header .container {
    margin-left: 0px;
}

#header .logo {
    align-items: center;
}

#header div.logo-text {
    margin-left: 10px;
    line-height: 23.7px;
    font-size: 20px;
    font-weight: 500;
    color: #0B132A;
}

#header li {
    margin: 10px 10px;
    height: 30.95px;
}

#header li a {
    padding: 5px 10px;
    line-height: 18.96px;
}

#header li:hover a {
    border-bottom: #F53855 solid 2px;
}

#header .sign-in-out {
    color: #0B132A;
    font-weight: 500;
    padding: 13px 45px;
    text-decoration: none;
    line-height: 18.96px;
    border: #ffffff solid 1px;
    border-radius: 40px;
    min-width: 155px;
}

#header .sign-in-out:hover {
    color: #F53855;
    padding: 12px 45px;
    border: #F53855 solid 1px;
}

/* header */

/* introduce */
#introduce {
    padding-top: 88px;
    background-color: rgb(255, 255, 255);
}

#introduce .want-any div {
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
    margin-bottom: 20px;
}

#introduce .get-started {
    display: inline-block;
    padding: 17px 78px;
    font-weight: 700;
    line-height: 25px;
    margin-top: 50px;
    text-decoration: none;
    color: #fff;
    background-color: #F53838;
    border-radius: 10px;
    position: relative;
}

#introduce .get-started div {
    position: absolute;
    width: 84%;
    height: 100%;
    background: rgba(245, 56, 56, 0.35);
    filter: blur(25px);
    border-radius: 10px;
    bottom: -50%;
    left: 8%;
    z-index: -1;
}

/* introduce */
/* data */
#box-data {
    background: #ffffff;
    padding-top: 95px;
}

#data {
    border-radius: 10px;
    position: relative;
}

#data .row {
    background-color: #ffffff;
    border-radius: 10px;
}

#data .row>div {
    margin-top: 37px;
    margin-bottom: 37px;
    padding-top: 37px;
    padding-bottom: 37px;
}

#data .row>div:nth-child(n+2) {
    border-left: 2px solid #EEEFF2;
}

#data .fa-solid {
    width: 55px;
    height: 55px;
    background: #FFECEC;
    border-radius: 70px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F53838;
}

#data .justify-content-center>div {
    margin-left: 36px;
}

#data .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0D1025;
    filter: blur(140px);
    border-radius: 10px;
    bottom: 0px;
    z-index: -1;
    opacity: 0.15;
}

/* data */
/* introduce */
#provide {
    padding-top: 96px;
    padding-bottom: 130px;
    background-color: #ffffff;
}

#provide .text-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    margin-bottom: 20px;
}

#provide .fa-ul {
    margin-left: 25px;
    margin-top: 20px;
}

#provide .fa-ul li:nth-child(n+2) {
    margin-top: 15px;
}

#provide .fa-ul li span {
    color: #2FAB73;
}

/* choose */
#choose {
    padding-top: 80px;
}

#choose .title-choose {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    text-align: center;
    margin-bottom: 20px;
}

#choose .title-choose~div {
    text-align: center;
    line-height: 30px;
}

#choose .option {
    margin-top: 60px;
    margin-bottom: 150px;
}

#choose .option .row>div>div {
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 330px;
    margin-inline: auto;
}

#choose .option .row>div>div:hover {
    border: 2px solid #F53838;
}

#choose .option .row>div>div>img {
    margin-top: 80px;
    width: 145px;
    height: 165px;
}

#choose .option .row>div>div>img+div {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}

#choose .option .row>div>div>ul {
    margin-bottom: 50px;
}

#choose .option .row>div>div>ul>li:nth-child(n+2) {
    margin-top: 10px;
}

#choose .option .row>div>div>ul>li>span {
    color: #2FAB73;
    padding-right: 16px;
}

#choose .option .select {
    padding: 13px 63px;
    font-weight: 700;
    line-height: 18.96px;
    margin-top: 50px;
    text-decoration: none;
    color: #F53838;
    border: 2px solid #F53838;
    border-radius: 50px;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

#choose .option .row>div>div:hover .select {
    color: #fff;
    background-color: #F53838;
}

#choose .option .select div {
    position: absolute;
    visibility: hidden;
    width: 84%;
    height: 100%;
    background: rgba(245, 56, 56, 0.35);
    filter: blur(25px);
    border-radius: 10px;
    bottom: -50%;
    left: 8%;
    z-index: -1;
}

#choose .option .row>div>div:hover .select div {
    visibility: unset;
}

#choose .huge {
    text-align: center;
}

#choose .huge .title-huge {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    margin-bottom: 20px;
}

#choose .col-custum-20 {
    display: block;
    margin: auto;
    width: 20%;
}

/* huge */
.huge .img-huge {
    margin-top: 156px;
    margin-bottom: 36px;
    max-width: 1060px;
}

/* trusted */
#trusted {
    text-align: center;
}

#trusted .trusted-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    margin-bottom: 20px;
}

#trusted-slider {
    position: relative;
    padding-bottom: 182px;
}

#trusted-slider .item {
    position: relative;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    margin-bottom: 120px;
    margin-top: 60px;
}

#trusted-slider .item:hover {
    border: 2px solid #F53838;
    border-radius: 10px;
}

#trusted-slider .item:hover .shadow-slider {
    position: absolute;
    width: 84%;
    height: 100%;
    background: #0D1025;
    filter: blur(35px);
    border-radius: 10px;
    top: 0px;
    left: 8%;
    z-index: -1;
    opacity: 0.1;
}

#trusted-slider .owl-nav {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0px;
    display: flex;
}

#trusted-slider button.owl-prev,
#trusted-slider button.owl-next {
    width: 60px;
    height: 60px;
    font-size: 60px;
    color: #F53838;
    border: 2px solid #F53838;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#trusted-slider button.owl-prev:hover,
#trusted-slider button.owl-next:hover {
    background-color: #F53838;
    color: #FFFFFF;
}

#trusted-slider .owl-theme .owl-dots {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#trusted-slider .owl-theme .owl-dots button:hover span {
    background-color: #F53838;
}

#trusted-slider button.active span {
    background-color: #F53838;
}

#box-item-slider {
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    height: 260px;
}

#box-item-slider .img-slider-dd {
    height: 50px;
    width: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#box-item-slider .img-slider-start {
    height: 16px;
    width: 16px;
    margin-left: 10px;
}

#box-item-slider .comment {
    color: #0B132A;
    line-height: 30px;
}

#box-item-slider .name {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}

#box-item-slider .nitname {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}

#box-item-slider .box-header-slider {
    justify-content: space-between;
}

#box-item-slider .box-start {
    align-items: center;
}

#box-item-slider .box-start .assess {
    line-height: 30px;
    color: #0B132A;
}

/* trusted */
/*ft-sub*/
/* subscribe*/
#ft-sub {
    position: relative;
    background-color: #F8F8F8;
    padding-top: 180px;
    padding-bottom: 100px;
    margin-bottom: 10px;
}

#box-subscribe {
    position: absolute;
    bottom: 76%;
    left: 0%;
}

#subscribe {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 58px 70px;
}

#subscribe .title-subscribe {
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 20px;
    color: #0B132A;
}

#subscribe .subscribe-now {
    display: inline-block;
    padding: 17px 66px;
    font-weight: 700;
    line-height: 25px;
    text-decoration: none;
    color: #fff;
    background-color: #F53838;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

#subscribe .subscribe-now div {
    position: absolute;
    width: 84%;
    height: 100%;
    background: rgba(245, 56, 56, 0.35);
    filter: blur(25px);
    border-radius: 10px;
    bottom: -50%;
    left: 8%;
    z-index: -1;
}

#subscribe .align-subscribe-now {
    text-align: end;
    align-self: center;
}

/* subscribe */
#ft-sub .shadow-subscribe {
    position: absolute;
    width: 84%;
    height: 30%;
    background: #0D1025;
    filter: blur(130px);
    border-radius: 10px;
    bottom: 40%;
    left: 8%;
    z-index: -1;
    opacity: 0.3;
}

/* footer */
#footer .logo {
    align-items: center;
}

#footer div.logo-text {
    margin-left: 10px;
    line-height: 23.7px;
    font-size: 20px;
    font-weight: 500;
    color: #0B132A;
}

#footer .style-content-footer {
    font-weight: 400px;
    font-size: 16px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#footer .fa-brands {
    width: 33.6px;
    height: 33.6px;
    background: #fff;
    border-radius: 50%;
    color: #F53838;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 30px;
}

#footer .list {
    list-style: none;
}

#footer .list li {
    margin-bottom: 10px;
}

#footer .list li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    text-decoration: none;
}

#footer .list li:first-child {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}

#footer .d-flex a{
    text-decoration: none;
}

/* #footer */
@media only screen and (min-width: 992px) {
    #header {
        padding-left: 42px;
        padding-right: 42px;
    }

    #introduce {
        padding-left: 42px;
    }

    #box-data {
        padding-left: 42px;
        padding-right: 42px;
    }

    #provide {
        padding-left: 76px;
        padding-right: 42px;
    }

    #choose {
        padding-left: 37px;
        padding-right: 37px;
    }

    #trusted-slider {
        padding-left: 42px;
    }

    #ft-sub {
        padding-left: 42px;
        padding-right: 42px;
    }

    #box-subscribe {
        padding-right: 42px;
        padding-left: 42px;
    }
}

@media only screen and (min-width: 1320px) {
    #header {
        padding-left: 142px;
        padding-right: 142px;
        max-width: 1440px;
    }

    #introduce {
        padding-left: 142px;
        padding-right: 75px;
        max-width: 1440px;
    }

    #box-data {
        padding-left: 142px;
        padding-right: 142px;
        max-width: 1440px;
    }

    #provide {
        padding-left: 176px;
        padding-right: 142px;
        max-width: 1440px;
    }

    #bg-img {
        max-width: 1440px;
    }

    #choose {
        padding-left: 137px;
        padding-right: 137px;
        max-width: 1440px;
    }

    #trusted {
        max-width: 1440px;
    }

    #trusted-slider {
        max-width: 1440px;
        padding-left: 142px;
    }

    #ft-sub {
        max-width: 1440px;
        padding-left: 142px;
        padding-right: 142px;
    }

    #box-subscribe {
        max-width: 1440px;
        padding-right: 142px;
        padding-left: 142px;
    }
}

@media only screen and (max-width: 992px) {
    #box-subscribe {
        bottom: 86%;
    }

    #subscribe .subscribe-now {
        margin-top: 10px;
    }

    #box-data {
        padding-top: 50px;
    }

    #box-data #data .row>div:nth-child(n+2) {
        border-top: 2px solid #EEEFF2;
        border-left: 0px;
    }

    #box-data #data .row>div {
        padding-top: 50px;
        padding-bottom: 50px;
        width: 80%;
        margin: auto;
    }

    #choose {
        padding-top: 50px;
    }

    #choose .option .row>div {
        margin-bottom: 40px;
    }

    #provide,
    #choose .option,
    .huge .img-huge {
        padding-top: 50px;
        padding-bottom: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #ft-sub {
        padding-top: 200px;
    }
}

@media only screen and (max-width: 576px) {
    #introduce {
        padding-top: 50px;
    }

    #introduce .want-any div {
        font-size: 46px;
        line-height: 65px;
    }

    #box-subscribe {
        bottom: 91%;
    }

    #subscribe {
        padding: 26px 30px;
    }

    #subscribe .title-subscribe {
        font-size: 23px;
        line-height: 30px;
        margin-bottom: 23px;
    }

    #subscribe .subscribe-now {
        padding: 17px 40px;
    }

    #trusted-slider button.owl-prev,
    #trusted-slider button.owl-next {
        width: 40px;
        height: 40px;
        font-size: 40px;
    }

    #trusted-slider .owl-nav {
        bottom: 22px;
    }

    #box-item-slider {
        height: 280px;
    }

    #choose .huge .title-huge,
    #trusted .trusted-title {
        font-size: 29px;
        line-height: 50px;
    }

    #introduce .get-started {
        padding: 17px 50px;
    }
}

@media only screen and (max-width: 300px) {
    #introduce .want-any div {
        font-size: 42px;
        line-height: 56px;
    }

    #choose .option .select {
        padding: 12px 52px;
    }

    #box-item-slider {
        padding: 5px
    }

    #box-item-slider .img-slider-start {
        height: 14px;
        width: 14px;
        margin-left: 0px;
    }

    #box-item-slider .box-start .assess {
        font-size: 12px;
    }

    #box-item-slider .img-slider-dd {
        margin-right: 15px;
        margin-bottom: 15px;
    }

    #box-item-slider .name {
        font-size: 15px;
    }

    #box-item-slider .nitname {
        font-size: 10px;
        line-height: 20px;
    }

    #subscribe .subscribe-now {
        padding: 14px 15px;
    }

    #subscribe .title-subscribe {
        font-size: 19px;
        line-height: 26px;
    }

    #subscribe {
        padding: 23px 22px;
    }

    #trusted-slider .owl-nav {
        bottom: 52px;
    }
    #header .sign-in-out{
        padding: 12px 20px;
        min-width: 0px;
    }
}